[init]
	defaultBranch = main
[user]
	name = Arsalan Kazmi
	email = sonicspeed848@gmail.com
[credential]
	helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gui]
	recentrepo = /home/that1m8head/dmenu
[pull]
	rebase = true
